.displayContainer {
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    display: flex;
}

.backdrop {
    background-color: rgb(36, 41, 44);
    padding: 0 1.7rem;
}

.reccomended {
    /* color: white;
    background-color: grey; */
    width: 20rem;
    flex-shrink: 0;
    padding-top: 5rem;
}