/* .userIcon {
    padding-left: 15px;
} */

.signIn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 105px; */
    height: 40px;
    width: 115px;
    /* /* border-radius: 3px; */
    color: rgb(161, 185, 196);
    /* padding-right: 15px; */
    text-align: center;
    font-size: 16px;
    border-color: #6E7E85;
    border-style: solid;
    border-width: 2px;
    margin: 15px;
    border-radius: 4px;
    font-weight: bold;
     /* 14px */
}

.signin > a {

}

.text {
    padding-left: 8px;
}

a {
    text-decoration: none;
}