.unexpandedList {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    /* padding-top: 70px; */
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 90vh;
    background-color: #393E41;
    margin-top: 80px;
}