.unexpandedList {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    /* padding-top: 70px; */
}

.sidebar {
    position: fixed;
    width: 77px;
    left: 0;
    /* top: 0; */
    bottom: 0;
    height: 92vh;
    background-color: rgb(46, 50, 53);
    margin-top: 80px;
}

.sidebarLinks {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5rem;
}