.videoIndexContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 110px;
    width: 100%;
    justify-content: start;
    margin: 0 auto;
    width: 1200px;
    /* justify-content: center; */
}

/* Flex grid or flex wrap? */