.item {
    /* GOAL: height: 300px; */
    /* height: 70vh; */
    /* GOAL: width: 359px; */
    height: 300px;
    width: calc(25% - 1rem);
    padding-right: .5rem;
    padding-left: .5rem;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.thumbnail {
    /* max-width: 315px;
    height: 100%; */
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}
.thumbnailContainer {
    height: 201px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom: 1rem;
}

.thumbText {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 60px;
    color: rgb(161, 185, 196);
    font-size: .9rem;
}

.head {
    font-size: 1rem;
    font-weight: 900;
    /* text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-height: 1rem;
    max-height: 2rem;
    overflow: hidden;
    white-space: pre-wrap; */
    
}

/* .textContainer {

} */
/* thumbnail in youtube:
    pic: w 359 h 201
    textbox: w 311 (doesnt includ icon) h 96 
    between: 3ish pixels
    padding: below: 40ishpx sides 10px */

    /* screen width: 1598, vid width 361 */