.item {
    /* GOAL: height: 300px; */
    /* height: 70vh; */
    /* GOAL: width: 359px; */
    height: 300px;
    width: 25%;
    padding-bottom: 40px;
}

.thumbnail {
    /* max-width: 315px;
    height: 100%; */
    display: block;
    max-width: 100%;
    max-height:201px;
    margin: 0 auto;
}
.thumbnailContainer {
    height: 201px;
    padding-left: 10px;
    padding-right: 10px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom: 1rem;
}

.thumbText {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    color: rgb(161, 185, 196);
    font-size: .9rem;
}

.head {
    font-size: 1rem;
    font-weight: 900;
}

/* .textContainer {

} */
/* thumbnail in youtube:
    pic: w 359 h 201
    textbox: w 311 (doesnt includ icon) h 96 
    between: 3ish pixels
    padding: below: 40ishpx sides 10px */

    /* screen width: 1598, vid width 361 */