.searchPageItemContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.searchPageIndexContainer {
    padding-top: 11vh;
    /* width: 100%; */
    /* justify-content: start; */
    margin: 0 auto;
    width: 1200px;
    color: rgb(161, 185, 196);
}

.item {
    height: 168px;
    /* height: 70vh; */
    /* GOAL: width: 359px; */
    padding-right: .5rem;
    padding-left: .5rem;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.thumbnail {
    height: 150px;
    margin-right: 10px;
}

.head {
    margin-bottom: 10px;
    border-bottom: 2px solid;
    border-color: rgb(161, 185, 196);
}

.textContainer{

}

.text {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.title {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.videoInfo {
    display: flex;
    align-items: center;
}

.videoInfo > * {
    margin-right: 10px;
}

.description {
    margin-top: 20px;
}